<h1>Sequence</h1>
<h2><%= @sequence.values.length%> Values</h2>
<h3><%= @sequence.values.inspect %></h3>
<h2>Descriptions</h2>
<ul>
  <% for s in @desc do %>
    <li><%= s %></li>
  <% end %>
</ul>
<h2>Sources</h2>
<ul>
  <%  for pc in @sequence.permutation_classes do %>
    <li><%=  pc.patterns%></li>
  <% end %>
</ul>

<% form_tag :action => :expand_sequence do %>
  <%= hidden_field_tag "id", @sequence.id %>
  <%=  submit_tag "Expand" %>
<% end %>